@mixin centerY {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin centerX {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin startY {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}