//colorsxxx`
$color-pri-1: #033FFF;
$color-pri-2: #00B4D8;
$color-pri-3: #90E0EF;
$color-pri-4: #CAF0F8;
$color-blue-light: #2998ff;
$color-blue-dark: #03045E;
$color-pink-light:#F582A7;
$color-pink-dark:#F10086;
$color-green-light: #7ed56f; 
$color-green: #55c57a;
$color-green-dark: #28b485;
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-grey-lightest: #f9f9f9;
$color-grey-light: #eee;
$color-grey-dark: #555;
$color-white: #fff;
$color-black: #000;

/* 
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

#180A0A
#711A75
#F10086
#F582A7

#03045E
#00B4D8
#90E0EF
#CAF0F8

#033FFF
#4A9FF5
#5FF4EE
#C2FCF6


#04009A
#77ACF1
#3EDBF0
#C0FEFC

 */